<style>
table, th, td {
   border: 1px solid #ccc;
}
</style>
<div style="margin:20px 0 20px 0">
<h2 style="color: #064771;font-weight: bold;"> Default Variables</h2>
</div>
<table style="width:70%;">
  <tr>
    <th>Server Address</th>
    <td>{{ result.default.server_addr }}</td>
  </tr>
  <tr>
    <th>Database Host name</th>
    <td>{{ result.default.hostname }}</td>
  </tr>
  <tr>
    <th>Database Name</th>
    <td>{{ result.default.database }}</td>
  </tr>
  <tr>
    <th>Current Theme</th>
    <td>{{ result.default.theme }}</td>
  </tr>
  <tr>
    <th>Path To Theme</th>
    <td>{{ directory }}</td>
  </tr>
  <tr>
    <th>Base Url</th>
    <td>{{ url('<front>') }}</td>
  </tr>
</table>
<div style="margin:20px 0 20px 0">
<h2 style="color: #064771;font-weight: bold;"> PHP $_SERVER Variables</h2>
</div>
<table style="width:70%;">
  {% for key, value in result.server  %}
    {% if key != 'default' %}
      <tr>
        <th>{{ key }}</th>
        <td>{{ value }}</td>
      </tr> 
    {% endif %}   
  {% endfor %}  
</table>
